* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#bookcase {
    border: 5px solid red;
    display: grid;
    grid-template-columns: repeat(5, 300px);
}

.book {
    border: 3px solid #186dce;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-cover {
    border: 3px solid rgb(108, 16, 194);
    width: 200px;
    height: 300px;
}

#add-book-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-book-cover svg {
    fill: #fff;
    width: 100px;
}

#book-form {
    visibility: hidden;
    border: 5px solid orange;
    position: absolute;
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #414141;
}

.book-query {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-size: 1.5rem;
}

.book-query input {
    height: 30px;
    font-size: 1.2rem;
    padding-left: 5px;
}