* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#bookcase {
    border: 5px solid red;
    display: grid;
    grid-template-columns: repeat(5, 300px);
}

.book {
    border: 3px solid #186dce;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-cover {
    width: 200px;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto;
}

.hasCover {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    width: 200px;
    height: 300px;
}

.genre-list {
    list-style-type: none;
    margin: 10px;
}

.genre {
    margin: 5px 0;
}

.read-status {
    width: 30px;
    justify-self: right;
    margin: 10px;
}

#read {
    display: inline;
    fill: #21cf4c7a;
}

#not-read {
    display: inline;
    fill: #cf21217a;
}

.rating {
    margin: 10px;
}

.page-count {
    justify-self: right;
    margin: 10px;
}

#add-book-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-book-cover svg {
    fill: #fff;
    width: 100px;
}

#book-form {
    top: 50px;
    border: 5px solid orange;
    position: absolute;
    width: 700px;
    height: 800px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #414141;
}

.book-query {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-size: 1.5rem;
}

.book-query label {
    margin-bottom: 5px;
}

.book-query input,
select {
    height: 30px;
    font-size: 1.2rem;
    padding-left: 5px;
}

.book-query:nth-child(7) {
    margin: 0;
    font-size: 1rem;
}

#submit {
    padding: 0;
}

.radio {
    display: flex;
    align-items: center;
}

#read-status-read,
#read-status-not-read {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 15px;
}

#default {
    color: #00000085;
}

.err {
    display: none;
    position: absolute;
    top: 50px;
    color: rgba(255, 0, 0, 0.699);
}

#cancel {
    width: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    fill: #ff2c2c62;
}

#cancel:hover {
    fill: #ff2c2ca1;
}