@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "playwrite nz basic", courgette, roboto, Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 15px;
}

img {
    position: fixed;
    height: 100%;
    width: 100%;
}

body {
    color: #fff;
    display: flex;
    justify-content: center;
}

#bookcase {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    margin: 100px 0;
}

#add-book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    border: 5px solid black;
    background-color: #0000009d;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remove-book {
    fill: #a0131393;
    width: 30px;
    position: relative;
    top: 10px;
    left: 125px;
}

.remove-book:hover {
    fill: #a01313;
}

.edit-book {
    fill: #1350a093;
    width: 30px;
    position: relative;
    top: 25px;
    left: 125px;
}

.edit-book:hover {
    fill: #1350a0;
}

.book-cover {
    width: 200px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    margin-top: -35px;
}

.hasCover {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 300px;
}

.genre-list {
    list-style-type: none;
    overflow: auto;
    scrollbar-width: none;
}

.genre {
    max-width: 153px;
    width: fit-content;
    word-wrap: break-word;
    background-color: #000;
    font-size: 0.7rem;
    padding: 6px;
    margin: 3px;
    border-radius: 10px;
    text-align: center;
}

.read-status {
    width: 35px;
    justify-self: right;
    background-color: #000;
    max-height: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
}

#read {
    display: flex;
    fill: #21cf4c;
}

#not-read {
    display: flex;
    fill: #cf2121;
}

.rating {
    background-color: #000;
    max-width: fit-content;
    max-height: fit-content;
    font-size: 0.8rem;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    text-align: center;
}

.page-count {
    justify-self: right;
    background-color: #000;
    max-height: fit-content;
    font-size: 0.8rem;
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
}

.book-author {
    background-color: #000;
    width: 150px;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    word-wrap: break-word;
}

.book-title {
    background-color: #000;
    width: 200px;
    max-width: 200px;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    word-wrap: break-word;
}

#add-book-cover {
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-book-cover svg {
    fill: #fff;
    width: 100px;
}

form {
    margin-top: 30px;
}

#book-form {
    top: 50px;
    border: 5px solid black;
    position: fixed;
    width: 700px;
    height: 850px;
    display: none;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#8a8a8a60, #000000b4);
    backdrop-filter: blur(5px);
    text-shadow: 0 0 20px black;
}

.check {
    display: none;
    gap: 10px;
    margin-top: -15px;
    margin-bottom: -10px;
}

.check input {
    width: 15px;
}

.book-query {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    font-size: 1.5rem;
}

.book-query label {
    margin-bottom: 5px;
}

.book-query label[for=pages] {
    font-size: 1.5rem;
}

.book-query label[for=rating] {
    font-size: 1.5rem;
}

.book-query input,
select {
    outline: none;
    height: 35px;
    font-size: 1.2rem;
    padding-left: 5px;
}

.book-query:nth-child(7) {
    margin: 0;
    font-size: 1rem;
}

#submit-add,
#submit-change {
    padding: 0;

}

#submit-add {
    display: inline;
}

#submit-change {
    display: none;
    margin-top: -25px;
}

.radio {
    display: flex;
    align-items: center;
}

#read-status-read,
#read-status-not-read {
    margin-left: 5px;
    margin-bottom: 5px;
    width: 15px;
}

.err {
    display: none;
    position: absolute;
    top: 50px;
    color: rgba(255, 0, 0, 0.699);
}

#missing-info {
    top: 40px;
}

#invalid-type {
    top: 60px;
}

#cancel {
    width: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
    fill: #ff2c2c62;
}

#cancel:hover {
    fill: #ff2c2ca1;
}